PROJECT_ROOT='/workspace/terraform-beginner-bootcamp-2023'
AWS_ACCESS_KEY_ID='Shourted ad tr'
AWS_SECRET_ACCESS_KEY='VERYLONGSRINGTHATISWHATITIS'
AWS_DEFAULT_REGION='ys-east-2'
TERRAFORM_CLOUD_TOKEN='YOUR Secret TF Cloud Token'
# NEVER put your secrets here. NEVER!

